{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="content-section">
        <form method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Reset password</legend>
                {{ form | crispy }}
            </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Request Password Reset</button>
        </div>
        </form>
    </div>
    <div class="alert alert-warning">
        <strong>You have to open email connection!!!!</strong>
        <p>For example:</p>
        <p>python3 -m smtpd -n -c DebuggingServer localhost:1025</p>
    </div>

{% endblock %}